.list-cell {
  -fx-background-color: #2B2B2B;
  -fx-text-fill: white;
  -fx-font-size: 1.2em;

  -fx-border-width: 0px 0px 1px 0px;
  -fx-border-color: white;
  -fx-font-weight: bold;
}


.list-cell:hover {
  -fx-background-color: #336699;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #3C7DC4;
}

.list-view {
  -fx-background-color: transparent;
}

.scroll-bar {
  -fx-background-color: transparent;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
  -fx-background-color: #3C7DC4;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button{
  -fx-background-color: transparent;
  -fx-padding:0
}

.scroll-bar .thumb{
  -fx-background-color: #336699;
  -fx-opacity: 0.75

}
